@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .marquee {
    --gap: 3rem;
    width: 100%;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
  }

  .marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--gap);
  }

  .scroll {
    animation: scroll 14s linear infinite;
  }

  .reverse {
    animation-direction: reverse;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
}
